@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300;
  }
  
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

/* Custom text shadow utility
@layer utilities {
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .hover\:text-shadow-lg:hover {
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    }
  } */

.Animate{
  scroll-behavior: unset;
}